
<html>
  <head>
       <title> {{ title_name}} </title>
  </head>

  <body>

     <center> 
     <table width='90%'>
      
     <tr>    
     <!-- ֻוגי פנויל-->
     <td width='30%'>
     Navigation <br>
    
     <a href= "http://localhost/showstuff/web/app_dev.php/adminboard/"> Companies admin page</a>

     <!-- ֿנאגי פנויל -->
     <td width='70%' bgcolor='lightblue'>

     {{ txt }}


     </table>
     </center>

     <center><font size='-1'> CCC </font></center><br>

  </body> 

</html>