
<html>
  <head>
    <title>Admin Board</title>
  </head>

  <body>
      
      <center> 
      <table width='90%'>
      
      <tr>
      <!--Левый фрейм -->
      <td width='30%'>
      <center>
      <a href="http://apsheronsk.bozo.ru/index.html"> <img src="../public/images/main.gif" width="207" height="70" title="Restoraunt stuff managment" alt="Restoraunt stuff managment"> </a> 
      </center> 
      <br>
      <center><h2>List of Companies</h2></center>
       
      <!-- Блок вывода доступных компаний  --> 



      <!-- Правый фрейм--> 
      <td width=70%>
      <center><strong>Company Details</strong></center> <br>
   
    
      {% block mapper %}

      {% endblock %}
    

      </table>
      </center>
  </body>
</html>

